#maincontent{
	border: 1px solid black;
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	padding: 5px;
}

#juego{
	border: 1px solid grey;
	margin: 0 auto;
	height: 351px;
	width: 314px;
}

#controles{
	border: 1px solid grey;
	position: relative;
	width: 900px;
	margin: 0 auto;
}

#opciones{
	border: 1px solid grey;
	position: relative;
	width: 900px;
	height: 25px;
	margin: 0 auto;
	font-size: small;
	color: red;
}

#opciones div{
	color: black;
	float: left;
}

#ayuda{
	padding-left: 50px;
}

.caja{
	height: 39px;
	width: 39px;
	border: 1px dashed lightgrey;
	float: left;
}

.rojoC{
	background-color: red;
}

.azulC{
	background-color: blue;
}

.boton{
	background-color: black;
	height: 39px;
	width: 39px;
	border: 2px solid grey;
	float: left;
}